*{
    margin: 0;
}

:root{

    --red-tittle: #eb1c24;
    --blanco:  white;
    

}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/src/img/indexs.jpg");

    color: wheat;
 
}

header{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 40px;
    width: 90%;
    height: 200px;
    /* background-color: aqua; */
    background-color: transparent;
   
    color: rgb(255, 255, 255);
    /* FUENTE DE GOOGLE */
    /* font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal; */
    /* font-family: 'Stranger Things', sans-serif; */
                                                
    color: var(--blanco);
    font-size: 50px;
}

main{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 50px;

}

section{
display: flex;
justify-content: start;
align-items: end;

    width: 1000px;
    height: 320px;
    /* background-color: aquamarine; */
    background-color: transparent;
 position: fixed;

}

section > h2{
    margin-left: 50px;
color: var(--red-tittle);
 /* FUENTE POPPINS */
 font-family: "Poppins", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 30px;
}
