*{
    margin: 0;
}

:root{

    --red-tittle: #eb1c24;
    --blanco:  white;
    

}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/src/img/indexs.jpg");

 
 
}

label{

    color: wheat;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}
h1{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 40px;
    width: 90%;
    height: 200px;
    /* background-color: aqua; */
    background-color: transparent;
   
    color: rgb(255, 255, 255);
   
    /* FUENTE DE GOOGLE */
   font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-family: 'Stranger Things', sans-serif; 
    color: var(--blanco);
    font-size: 100px;
    animation-name: leftToRight; /* Aquí se define correctamente el nombre de la animación */
    animation-duration: 4s;
 
}




@keyframes leftToRight {


   
0%{
    opacity: 0;
    transform: translateX(-40px);
}
/* 
    30%{


    } */
    60%{
opacity: 0.1;
}

80%{
    opacity: 1;
    transform: translateX(50px);
    }

    80%{
        opacity: 0.1;
    }


    100%{

        transform: translateX(0px);
        opacity: 1;
    }





}
#character-name{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 30px;
    width: 200px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 2px;
    padding-left: 20px;
    margin: 3px 3px 3px 10px;
    font-size: 15px;
    color: var(--red-tittle);
 

}





#enjoy-button{

        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        background-color:  #dc3545 ;

        border: 1px solid  #dc3545 ;
        height: 40px;
        width: 65px;

        border-radius: 5px;
        color: white;
      
        transition: 0.2s;

        transition: 0.2s;
        margin-left: 4px;
    
    }
  
  
  #enjoy-button:hover{
    background-color:  #c53240 ;
  border: 1px solid  #c93140  ;
  
  }
  
main{
    /* background-color: rgb(87, 87, 121); */
    display: flex;
    justify-content: end;
    align-items: center;
    width: 1100px;
    height: 80px;
    padding-bottom: 20px;

}

section{
display: flex;
justify-content: start;
align-items: end;

    width: 1000px;
    height: 320px;
    /* background-color: aquamarine; */
    background-color: transparent;
 position: fixed;

}

section > h2{
    margin-left: 50px;
color: var(--red-tittle);
 /* FUENTE POPPINS */
 font-family: "Poppins", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 35px;
}
section > h2 span{
    font-weight: 600;
    font-size: 60px;

}